global:
  smtp_smarthost: 'localhost:25'
  smtp_from: 'alertmanager@labsoc.local'

route:
  group_by: ['alertname', 'severity']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h
  receiver: 'default'
  routes:
    - match:
        severity: critical
      receiver: 'critical'
      continue: true

receivers:
  - name: 'default'
    # webhook_configs:
    #   - url: 'http://labsoc-n8n:5678/webhook/alerts'

  - name: 'critical'
    # webhook_configs:
    #   - url: 'http://labsoc-n8n:5678/webhook/critical-alerts'

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'instance']
