apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    editable: true

  - name: Elasticsearch
    type: elasticsearch
    access: proxy
    url: http://labsoc-elasticsearch:9200
    database: "*"
    basicAuth: true
    basicAuthUser: elastic
    secureJsonData:
      basicAuthPassword: LabSoc2026!
    jsonData:
      timeField: "@timestamp"
      esVersion: "8.0.0"
      logMessageField: message
      logLevelField: log.level
    editable: true

  - name: Jaeger
    type: jaeger
    access: proxy
    url: http://jaeger:16686
    editable: true
